@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --clr-dark-1: #181818;
  --clr-dark-2: #383838;
  --clr-light-1: #ffffff;
  --clr-light-2: #b9b8b8;
  --clr-primary-1: hsl(224, 100%, 58%);
  --clr-success-1: hsl(149, 100%, 45%);
  --clr-danger-1: hsl(347, 100%, 45%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--clr-dark-1);
  color: var(--clr-light-1);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

button {
  background-color: transparent;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  border: 2px solid white;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
}

button:disabled:hover {
  cursor: not-allowed;
}

/* ::: utilities classes ::: */

.bg-secondary {
  background-color: var(--clr-dark-2);
}

.bg-primary {
  background-color: var(--clr-primary-1);
}

.bg-success {
  background-color: var(--clr-success-1);
}

.bg-danger {
  background-color: var(--clr-danger-1);
}

.text-secondary {
  color: var(--clr-light-2);
}

.custom-container {
  padding: 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 1rem 0;
  width: 100%;
  max-width: 50rem;
}

.input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input input {
  padding: 0.2rem;
  border-radius: 0.5rem;
}
